* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-background: linear-gradient(236deg, #fe75fe, #f391a0);
  --clr-board: #fcecc9;
  --clr-border: #342e37;
  --clr-snake: #a2d729;
  --clr-apple: #f93943;
}

body {
  background-image: var(--clr-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.board {
  border: 1.5rem solid var(--clr-border);
  box-shadow: 0 3px 6px #202020;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  width: 95vmin;
  height: 95vmin;
}

@media (max-width: 27em) {
  .board {
    border: 1rem solid var(--clr-border);
    width: 90vmin;
    height: 120vmin;
  }
}

.snake {
  background-color: var(--clr-snake);
  border: 0.25vmin solid var(--clr-border);
}

.fruit {
  background-color: var(--clr-apple);
  border: 0.25vmin solid var(--clr-border);
  border-radius: 100%;
}
